@model BlueBadge.Models.TechDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TechDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TechId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Location.FullLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.FullLocation)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Skill.SkillName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skill.SkillName)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterHoursRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterHoursRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencySameDayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencySameDayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyNextDayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyNextDayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>


    <div class="row">
        <div id="map"></div>
        
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 39.790, lng: -86.152  },
                    zoom: 4
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH9Uk-JhFcLXvGrSoaH15KJOin9ITrwmM&callback=initMap"
                async defer></script>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
