@model BlueBadge.Models.LocationCreate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="bg-contact2">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form">
                        @Html.LabelFor(model => model.LocationState, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.LocationState, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.LocationState, "", new { @class = "text-danger" })

                        </div>

                        @Html.LabelFor(model => model.LocationCity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.LocationCity, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.LocationCity, "", new { @class = "text-danger" })
                        </div>

                        @Html.LabelFor(model => model.LocationAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.LocationAddress, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.LocationAddress, "", new { @class = "text-danger" })
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-send" />
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*<div class="form-group">
                @Html.LabelFor(model => model.LocationState, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationState, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationState, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LocationCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LocationAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            *@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
