@model BlueBadge.Models.SkillCreate

@{
    ViewBag.Title = "Create";
}

<h2>Skill</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create</h4>
        <hr />

        <div class="bg-contact2">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form">
                        @Html.LabelFor(model => model.SkillName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.SkillName, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.SkillName, "", new { @class = "text-danger" })

                        </div>

                        @Html.LabelFor(model => model.SkillDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input textarea" data-validate="Description is required">
                            @Html.EditorFor(model => model.SkillDescription, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.SkillDescription, "", new { @class = "text-danger" })
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-send" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
