@model BlueBadge.Models.CustomerCreate

@{
    ViewBag.Title = "Create";
}

<h2>Customer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="bg-contact2">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                        </div>

                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "input2" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(model => model.Location.FullLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                            @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "input2" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                        </div>
                    </form>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-send" />
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
